<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="misuzilla.web">
			<section name="basicAuthentication" type="Misuzilla.Web.Configuration.SimpleBasicAuthenticationSection"/>
		</sectionGroup>
	</configSections>
	<appSettings/>
	<connectionStrings/>
	<misuzilla.web>
		<basicAuthentication enabled="true" realm="Authentication Required!" setUser="true">
			<users>
				<user name="user1" password="password1" roles="User"/>
				<user name="user2" password="6cb75f652a9b52798eb6cf2201057c73" type="MD5" roles="User,Manager"/>
				<user name="user3" password="1119cfd37ee247357e034a08d844eea25f6fd20f" type="SHA1" roles="User,Administrator"/>
			</users>
			<exceptPaths>
				<exceptPath path="/unlocked/" />
				<exceptPath path="^/hauhau?" useRegex="true" />
			</exceptPaths>
		</basicAuthentication>
	</misuzilla.web>
	<system.web>
		<!-- 
            デバッグ シンボルをコンパイルされたページに挿入するに
            は、compilation debug="true" に設定します。この設
            定はパフォーマンスに影響するため、開発時のみこの値
            を true に設定してください。
        -->
		<compilation debug="true" targetFramework="4.0">
		</compilation>
		<!--
            <authentication> セクションは、ユーザーを識別するため
            に、ASP.NET で使用されるセキュリティ認証モードの構成
            を有効にします。-->
		<authentication mode="Windows"/>
		<!--
            <customErrors> セクションは、要求の実行中にハンドル
            されていないエラーが発生した場合の処理方法の構成を
            有効にします。具体的には、開発者が HTML エラー ペ
            ージをエラーのスタック トレースの代わりに表示するように構
            成することを可能にします。

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
		<httpModules>
			<add name="SimpleBasicAuthenticationModule" type="Misuzilla.Web.Security.SimpleBasicAuthenticationModule, Misuzilla.Web.Security.SimpleBasicAuthenticationModule"/>
		</httpModules>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/></system.web>
	<!-- 
        system.webServer セクションは、Internet Information Services 7.0 で ASP.NET AJAX を
        実行するために必要です。以前のバージョンの IIS では不要です。
    -->
</configuration>
