<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="misuzilla.web">
      <section name="basicAuthentication" type="Misuzilla.Web.Configuration.SimpleBasicAuthenticationSection"/>
    </sectionGroup>
  </configSections>
  <appSettings/>
  <connectionStrings/>
  <misuzilla.web>
    <basicAuthentication enabled="true" realm="Authentication Required!" setUser="true">
      <users>
        <user name="user1" password="password1" roles="User"/>
        <user name="user2" password="6cb75f652a9b52798eb6cf2201057c73" type="MD5" roles="User,Manager"/>
        <user name="user3" password="1119cfd37ee247357e034a08d844eea25f6fd20f" type="SHA1" roles="User,Administrator"/>
      </users>
      <exceptPaths>
        <exceptPath path="/unlocked/"/>
        <exceptPath path="^/hauhau?" useRegex="true"/>
      </exceptPaths>
    </basicAuthentication>
  </misuzilla.web>
  <system.webServer>
    <modules>
      <add name="SimpleBasicAuthenticationModule" type="Misuzilla.Web.Security.SimpleBasicAuthenticationModule, Misuzilla.Web.Security.SimpleBasicAuthenticationModule"/>
    </modules>
  </system.webServer>
  <system.web>
    <compilation debug="true"/>
  </system.web>
</configuration>